<library path="src">
  <class name="the_teleop" type="the_teleop.TheTeleop.MyPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      A teleop app that can you use for move different kinds of robot.
    </description>
    <qtgui>
      <!-- optional grouping...
      <group>
        <label>Group</label>
      </group>
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>TheTheleop</label>
      <icon type="theme">system-help</icon>
      <statustip>Great user interface to provide real value.</statustip>
    </qtgui>
  </class>
</library>

